# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
venv/
env/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# PyInstaller
build/
dist/SIGAP_Admin/_internal/
dist/SIGAP_Warga/_internal/
*.spec.bak

# Setup
packaging/*

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Database (local)
*.sql.bak

# Internal planning docs
implementation_plan.md
